# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# MongoDB (Atlas connection string)
MONGODB_URI=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=

# Vapi
NEXT_PUBLIC_VAPI_API_KEY=
NEXT_PUBLIC_ASSISTANT_ID=
VAPI_PRIVATE_API_KEY=

# Feature Flags
FF_DUMMY_BOOKS=
